@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-text: #ffffff;
	--color-error: #980000;
	--color-paper: #232323;
	--color-primary: #009688;
	--color-background: #000000;
	--color-primary-contrast: #ffffff;
}


html,
body {
  @apply bg-background text-text w-screen h-screen;
}
